<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proj.Properties.Settings.stageConnectionString" connectionString="Data Source=DESKTOP-E36PIJD;Initial Catalog=stage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="proj.Properties.Settings.stage2ConnectionString" connectionString="Data Source=DESKTOP-E36PIJD;Initial Catalog=stage2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key ="jj" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>